@import "../../../styles/shared";

:host {
  display: block;
}

.content {
  display: block;
  position: relative;
  height: calc(100vh - #{$sp-header-height});
  margin-top: $sp-header-height;
  padding: 10px;
}
