
$sp-color-main: hsla(181%, 94%, 34%, 1);
$sp-color-secondary: hsla(120%, 26%, 95%, 1);
$sp-color-neutral: hsla(23%, 42%, 73%, 1);
$sp-color-warning: hsla(17%, 71%, 52%, 1);
$sp-color-danger: hsla(9%, 63%, 45%, 1);

$sp-color-gray-dark: #999;
