
<form class="login" [formGroup]="loginForm" novalidate (keydown.enter)="login()">
  <div class="form-field">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" formControlName="username"> <!-- todo -->
  </div>
  <div class="form-field">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <div class="l-text-danger" *ngIf="loginFail">
    login/mot de passe incorrect
  </div>

  <button class="sp-btn" type="button" (click)="login()">
    Se connecter
  </button>
</form>
