@import "../../../styles/shared";

:host {
  display: block;
  padding: 3px;
}

.records {
  margin: 0 -10px;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    transform: scale(1.02);
  }

  &.selected {
    background-color: $sp-color-secondary;
  }
}

.record-icon {
  font-size: 3rem;
  color: $sp-color-main;
}

.record-title {
  font-family: $sp-font-timeburnerbold;
  color: $sp-color-main;
}
