
<div class="nb-exercices">Il y a #todoNombre exercices.</div>
<div class="no-exercices">Aucun exercice dans de programme</div>

<table>
  <tr class="exercice">
    <td class="exercice-category">
      <i class="fi flaticon-people flaticon-man-cycling flaticon-weightlifting"></i>
    </td>
    <td>#todoType</td>
    <td>
      #todoDuree
      à
      #todoVitesse
      #todoPoids
      #todoNbRépétition
      x
      #todoNbMouvements
    </td>
    <td>#todoComment</td>
    <td class="actions">
        <div class="ordering">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          <ng-template #emptyCell><div>&nbsp;</div></ng-template>
        </div>
        <div class="deleting">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
    </td>
  </tr>
</table>
