@import "../../styles/shared";

:host {
  display: flex;
}

.block {
  width: 50%;
  margin: 10px;
}

.separator {
  display: inline-block;
  padding: 0 2px;
  margin: 0 5px;
  background-color: $sp-color-gray;
  box-shadow: 0 0 5px 0 $sp-color-gray;
  cursor: ew-resize;
}
