@import "../../../../styles/shared";

.programs-header {
  display: flex;
  padding: 10px;
  margin: 10px 10px 20px;
  background-color: $sp-color-secondary;
  border-radius: 5px;
  align-items: center;

  .programs-header-description {
    flex-grow: 1;
  }
}

.prog {
  display: flex;
}

.prog-main {
  flex-grow: 1;
}


.prog-actions {

  display: flex;
  flex-direction: column;
  margin-left: 20px;


  & > * {
    margin-bottom: 10px;
    font-size: 2rem;
    color: $sp-color-main;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      transform: scale(1.15);
    }

    &:focus {
      outline: none;
    }
  }
}

.prog-main-title {
  font-family: $sp-font-timeburnerbold, sans-serif;
  font-size: 2rem;
  color: $sp-color-main;
}

.prog-main-content {
  padding-top: 10px;
  border-top: 1px solid $sp-color-main;
  margin-top: 10px;
}
