@import "shared";

.sp-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $sp-color-main;
  margin-left: 20px;
  color: $sp-color-secondary;
  background-color: $sp-color-main;
  border-radius: 5px;
  transition: .2s;
  cursor: pointer;

  &.sp-btn-is-secondary {
    color: $sp-color-main;
    border-color: $sp-color-secondary;
    background-color: $sp-color-secondary;

    &:hover {
      font-weight: bold;
    }
  }

  &.disable {
    color: $sp-color-gray-dark;
    border-color: $sp-color-gray-dark;
    background-color: $sp-color-gray-light;
    cursor: not-allowed;
  }

  &:hover:not(.disable) {
    color: $sp-color-main;
    background-color: $sp-color-secondary;
  }

  &:focus {
    outline: none;
  }
}
