@import "shared";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-size: 18px;
  font-family: $sp-font-timeburnernormal, sans-serif;
}

h1 {
  font-size: 2rem;
  color: $sp-color-main;
  font-family: $sp-font-timeburnerbold, sans-serif;
  font-weight: normal;
}
