@import "../../../../styles/shared";

:host {
  display: block;
}

.no-exercices {
  font-style: italic;
}

.exercice-category {
  width: 60px;
  font-size: 3rem;
  color: $sp-color-main;
}

.actions {
  display: flex;
  align-items: center;
  & > * {
    margin: 0 3px;
  }
}

td {
  padding: 0 15px;
}

.ordering {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }

  .fa {
    padding: 3px;
    font-size: 1.2rem;
    color: $sp-color-main;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.3);
      color: $sp-color-warning;
    }
  }
}

.deleting .fa {
  font-size: 2em;
  color: $sp-color-danger;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
