
<h1>Création d'un programme d'entraînement</h1>

<form [formGroup]="formProgram" novalidate>
  <div class="form-field">
    <label for="name">Nom</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div class="form-field form-field-is-fullwidth">
    <label for="description">Description</label>
    <textarea rows="4" id="description" formControlName="description"></textarea>
  </div>

  <div class="exercices">
    <div class="exercices-title" (click)="openExerciceModal()">
      <span *ngIf="exercices && exercices.length; else emptyExercices">
        Exercices de ce programme
      </span>
      <ng-template #emptyExercices><span>Aucun exercice dans de programme</span></ng-template>

      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

    <table>
      <tr class="exercice" *ngFor="let exercice of exercices">
        <td>
          <i class="fi flaticon-people" aria-hidden="true"
             [ngClass]="{'flaticon-people': exercice.category === 'LESSON',
                     'flaticon-man-cycling': exercice.category === 'CARDIO_TRAINING',
                     'flaticon-weightlifting': exercice.category === 'REINFORCEMENT' }"></i>
        </td>
        <td>{{ exercice.type }}</td>
        <td>
          {{ exercice.duration }}
        </td>
      </tr>
    </table>

    <sp-exercice *ngIf="isExercicePopinOpen" (exercice$)="addExercice($event)"></sp-exercice>
  </div>
</form>

<div class="actions">
  <button class="sp-btn"
          [ngClass]="{'disable': formProgram.invalid}"
          (click)="save()"
          [title]="getTitle()">Enregistrer</button>
  <button class="sp-btn sp-btn-is-secondary" (click)="cancel()">Revenir à la liste</button>
</div>
