@import "../../../styles/shared";

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .button {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 50px 0;
    line-height: 35px;
    text-align: center;
    border-radius: 1000px;
    color: $sp-color-secondary;
    background-color: $sp-color-warning;
    box-shadow: 0 0 15px 5px #777;
    cursor: pointer;
    outline: none;
    transition: .3s;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 0 20px 5px #666;
    }
  }
}
