:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.login {
  display: flex;
  flex-direction: column;
}

.sp-btn {
  margin: 10px 0;
  align-self: center;
}
