
<div class="sp-switch"><!-- todo faire fonctionner le switch -->
  <div class="option">Tous</div>
  <div class="option">Cours</div>
  <div class="option">Cardio</div>
  <div class="option">Renfo</div>
</div>

<div class="records">
  <!-- todo utiliser le pipe pour filtrer les record -->
  <div class="l-card record" *ngFor="let record of records$ | async"
       (click)="selectRecord(record)" [ngClass]="{'selected': record === selectedRecord}">

    <i class="fi flaticon-people record-icon" aria-hidden="true"
       [ngClass]="{'flaticon-people': record.category === 'LESSON',
                   'flaticon-man-cycling': record.category === 'CARDIO_TRAINING',
                   'flaticon-weightlifting': record.category === 'REINFORCEMENT' }"></i>

    <span class="record-title">{{ record.type }}</span>
    <span class="record-date">{{ record.date | date:'longDate' }}</span>
  </div>
</div>
